body {
  background: #f8e8a6;
}
h1,
p {
  text-align: center;
}
a {
  color: green;
  margin: 0 10px;
}
img {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}
footer {
  text-align: center;
}
#email {
  color: blue;
}
