body {
  background: #f8e8a6;
}
h1,
p {
  text-align: center;
}
a {
  color: green;
}
img {
  display: block;
  margin: 30px auto;
  border-radius: 10px;
}
.links {
  text-align: center;
}
.links a {
  margin-right: 18px;
}
#email {
  color: blue;
}
